src/main/resources/Components.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:include schemaLocation="CodeLists.xsd" />
	<xsd:include schemaLocation="Fields.xsd" />
	<xsd:include schemaLocation="./Common/json/complex.xsd" />
	<xsd:include schemaLocation="./Common/json/codelist/language.xsd" />

	<xsd:complexType name="SequencedTextType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="sequence" type="xsd:integer" />
				<xsd:attribute name="sequenceName" type="xsd:string" />
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>


	<xsd:complexType name="PackageBaseType">
		<xsd:annotation>
			<xsd:documentation>The term "Package" is used in the contexts of
				Screening and Assessment (and possibly other HR service areas) to
				describe a set of component services that are marketed and can be
				ordered as a unit. Such orders generally are accomplished by
				referencing the associated "Package ID". In some cases, individual
				component services also may be ordered using a so-called "a la
				carte" approach. This base type is extended appropriately so it can
				be used both in the context of Assessment and Screening catalogs.
				The catalogs may reflect an assessment or screening provider's
				general offerings to the business community or the catalogs may
				contain a subset of offerings that have been designed or specified
				for a particular customer.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ID" type="xsd:string" minOccurs="0"
				maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>This is the "Package ID" that would be used to
						order a set of screening or assessment services.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Name" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The name or terse descriptive label by which the
						package is referred.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="xsd:string"
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="ParentGroupID" type="xsd:string"
				minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>A reference from a child package to one or more
						associated parent entity. This is used to express an "is a part
						of" relationship by reference. This approach is used in a number
						of places within the HR-XML as an alternative to placement of one
						entity within the other's hierarchy. The use of the ParentGroupID
						reference is a more flexible and light-weight alternative to
						recursive structures and deeply nested hierarchies.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PackageTypeCode" type="xsd:string"
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="PartyReportingIDs" type="xsd:string"
				minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>This is a repeating ID set used to pass along
						identifiers that are used for reporting, filtering, accounting,
						cost center identification, and similar purposes. In a typical
						scenario, these might be specified by a customer to a supplier and
						then reported back by the supplier within collaborations as
						specified by the Customer. The agencyRoleCode and schemeAgencyID
						attributes available on PartyReportingIDs can be used to specify
						the role (Customer, Requester, Supplier) and identity of the party
						that controls the ID set. This is intended as a flexible means to
						associate various reporting IDs with a package. For example, a
						customer and supplier might agree to use the PartyReportIDGroup as
						a way to index Packages by the customer's employee or
						organizational groups with which they are associated or to which
						they pertain.
						Example:
						agencyRoleCode = Customer
						schemeAgencyID =
						Acme Corp. Inc.
						schemeID = Acme Employee Group ID
						ID = HR Manager
						and Compliance
						ID = Hiring Manager
						ID = Recruiter
						ID =
						Learning-Knowledge Management
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ServiceAvailabilityCode" type="ServiceAvailabilityCodeEnumType"
				minOccurs="0" />
			<xsd:element name="PackageCost" type="xsd:string"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="AssessmentAdministrationType">
		<xsd:sequence>
			<xsd:element name="Description" type="xsd:string"
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="ProctoredAssessmentIndicator" type="xsd:boolean"
				minOccurs="0" />
			<xsd:element name="TimeEnforcedIndicator" type="xsd:boolean"
				minOccurs="0" />
			<xsd:element name="TestDuration" type="MeasureTextType"
				minOccurs="0" />
			<xsd:element name="AssessmentDeliveryCode" type="AssessmentDeliveryCodeType"
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="UserArea" type="UserAreaType"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="AssessmentResult" type="AssessmentResultType" />
	<xsd:complexType name="AssessmentResultType">
		<xsd:annotation>
			<xsd:documentation source="http://www.hr-xml.org"
				xml:lang="en">Contains various scoring details and related metadata to
				interpret the scores.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ID" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This is an identifier for the result. There may
						be a one-to-one relationship between a PackageID ordered and a
						result. However, some packages might bundle multiple tests or have
						multiple results ensuing from them. This might be an identifier
						related to a component test within the package. The schemeID could
						be used to identify the particular identifier employed.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PackageID" type="xsd:string"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This is a reference to the Package ID that was
						ordered.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Name" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This is a place to put any formal name or
						identifier for the result. This might be a pass-through value tied
						to the specific test instrument. For example, "Candian Academic
						English Language (CAEL) Official Score Report."
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AssessmentProfileID" type="IdentifierType"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Uniquely distinquishes the normative group
						associate with the score(s). In the case of pre-hire and
						promotional assessments, this might be a Position ID or other
						identifier that could be used as a key in identifying the group of
						candidates in the normative group.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AssessmentOverallResult" type="AssessmentScoreType"
				minOccurs="0" />
			<xsd:element name="AssessmentDetailedResult" type="AssessmentScoreType"
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="TestInstance" type="TestInstanceType"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This is a set of Metadata regarding the test
						instance itself. The class or type of test taken is something
						known or discoverable from the PackageID or underlying TestID.
						TestInstance is a set of information about the test instance
						actually taken by the assessment subject. Many tests have multiple
						versions. This metadata supports the association of the score to
						the particular test instance actually completed and scored.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AssessmentStatus" type="AssessmentStatusType"
				minOccurs="0" />
			<!-- <xsd:element ref="AccessPoint" minOccurs="0" maxOccurs="unbounded" 
				/> -->
			<!-- <xsd:element ref="Attachment" minOccurs="0" maxOccurs="unbounded" 
				/> -->
			<xsd:element name="UserArea" type="UserAreaType"
				minOccurs="0" />
		</xsd:sequence>
		<!-- <xsd:attribute name="languageCode" type="LanguageCodeContentType" 
			/> -->
		<!-- <xsd:attributeGroup ref="EffectiveDateAttributeGroup" /> -->
	</xsd:complexType>

	<xsd:complexType name="AssessmentStatusType">
		<xsd:annotation>
			<xsd:documentation>Contains information about the current
				disposition of an order for a test or assessment.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="AssessmentStatusCode" type="AssessmentStatusCodeType"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>A code classifying the status of an order.
						As used within HR-XML's Assessment specifications,
						this is a closed list. Implementers are expected to support the
						list without extension or restriction.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" minOccurs="0" type="xsd:string"
				maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Provides additional explanation of the
						assessment status.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="UserArea" type="UserAreaType"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="AssessmentScoreType">
		<xsd:sequence>
			<xsd:element name="ID" type="xsd:string" minOccurs="0" />
			<xsd:element name="PassedIndicator" type="IndicatorType"
				minOccurs="0" />
			<xsd:element name="Description" type="xsd:string"
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="AssessedCompetency" type="SpecifiedCompetencyType"
				minOccurs="0" />
			<xsd:element name="Score" type="ScoreType" minOccurs="0" />
			<xsd:element name="BandID" type="IdentifierType"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>An identifier of a "band," a place on a
						distribution of scores.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Comment" type="xsd:string" minOccurs="0"
				maxOccurs="unbounded" />
			<xsd:element name="AdditionalItem" type="AdditionalItemType"
				minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="AdditionalItemType">
		<xsd:annotation>
			<xsd:documentation source="http://www.hr-xml.org"
				xml:lang="en">This is intended as a flexible component that may be used
				for extensions agreed upon by trading-partners. This should be used
				sparingly as its use is regarded as an extension requiring a trading
				partner agreement.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ID" type="xsd:string" minOccurs="0" />
			<xsd:element name="Sequence" type="xsd:positiveInteger"
				minOccurs="0" />
			<xsd:element name="Name" type="xsd:string" minOccurs="0" />
			<xsd:element name="TypeCode" type="CodeType" minOccurs="0"
				maxOccurs="unbounded" />
			<xsd:element name="Content" type="xsd:string" minOccurs="0" />
			<xsd:element name="UserArea" type="UserAreaType"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="AssessmentAccessType">
		<xsd:annotation>
			<xsd:documentation>This is a set of information used to provide the
				assessment subject access to a test that has been ordered. NOTE: The
				assessment access details would not be provided within the
				assessment order request, but in the acknowledgement in response to
				an assessment order request. In some instances, tests might be
				integrated into application processes. In such a case, the
				assessment subject might be redirected and directly logged into the
				assessment provider's application with the URI and credential
				supplied. In other cases, the test might need to be scheduled a
				local testing center. The address of the testing center may be
				supplied and / or the number to call to schedule the assessment.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ID" type="xsd:string" minOccurs="0" />
			<xsd:element name="AssessmentCommunication" type="CommunicationType"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This is the communications means an assessment
						subject uses access a test or to use in scheduling a time and
						place to take the test.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AccessCredentials" type="LoginInformationType"
				minOccurs="0" />
			<xsd:element name="Description" type="xsd:string"
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="UserArea" type="UserAreaType"
				minOccurs="0" />
		</xsd:sequence>
		<xsd:attributeGroup ref="EffectiveDateAttributeGroup" />
	</xsd:complexType>

	<xsd:element name="AssessmentSubject" type="AssessmentSubjectType" />
	<xsd:complexType name="AssessmentSubjectType">
		<xsd:sequence>
			<xsd:element name="subjectID" type="IdentifierType"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The test taker or person who takes the
						assessment or is assessed.
						OED Assessment n., b. Educ. The process
						or means of evaluating
						academic work; an examination or test.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PersonLegalID" type="IdentifierType"
				minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation source="http://www.hr-xml.org"
						xml:lang="en">A government assigned identifier or
						"official" identifier.
						In many scenarios,
						an assessment provider would have no need for
						collecting a
						PersonLegalID
						(for example, a social insurance number).
						In some cases, the
						assessment
						provider may play a role of having
						first contact with a candidate and may
						have a need to collect such
						information to support subsequent
						hiring
						activities or workflow
						(e.g., employment screening).
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PersonName" type="xsd:string"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The name of the person subject to the assessment.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Communication" type="CommunicationType"
				minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation source="http://www.hr-xml.org"
						xml:lang="en">A means of contacting the assessment subject. Repeatable
						for each type of contact method.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RaceCode" type="CodeType" minOccurs="0"
				maxOccurs="unbounded" />
			<xsd:element name="EthnicityCode" type="CodeType"
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="NationalityCode" type="CodeType"
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="PrimaryLanguageCode" type="LanguageCodeList"
				minOccurs="0" />
			<xsd:element name="BirthDate" type="FormattedDateTimeType"
				minOccurs="0" />
			<xsd:element name="AgeMeasure" type="MeasureType"
				minOccurs="0" />
			<xsd:element name="GenderCode" type="GenderCodeEnumType"
				minOccurs="0" />
			<xsd:element name="DisabilityIndicator" type="EffectiveDatedIndicatorType"
				minOccurs="0" />
			<xsd:element name="DisabilityTypeCode" minOccurs="0"
				maxOccurs="unbounded" />
			<xsd:element name="AccomodationTypeCode" type="CodeType"
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="MilitaryStatusCode" type="StatusCodeType"
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="InternalCandidateIndicator" type="IndicatorType"
				minOccurs="0" />
			<xsd:element name="UserArea" type="UserAreaType"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="AssessmentDeliveryCodeType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="schedulingRequiredIndicator"
					type="xsd:boolean" />
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>


	<xsd:element name="AssessmentFulfillment" type="AssessmentFulfillmentType" />
	<xsd:complexType name="AssessmentFulfillmentType">
		<xsd:annotation>
			<xsd:documentation>A set of information describing options and
				characteristics relating to the way an assessment result is
				provided. For example, the language or available languages of the
				assessment report; the period for which the result is recognized as
				valid or reliable, the name or identity of the scoring profile used
				in calculating the result; etc.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Description" type="xsd:string"
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="EffectivePeriodDescription" type="MeasureTextType"
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="ScoreProfileName" type="xsd:string"
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="ReportLanguageCode" type="LanguageCodeList"
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="UserArea" type="UserAreaType"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>


	<xsd:element name="AssessmentApplicability" type="AssessmentApplicabilityType" />
	<xsd:complexType name="AssessmentApplicabilityType">
		<xsd:sequence>
			<xsd:element name="Description" type="xsd:string"
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="AssessmentTypeCode" minOccurs="0"
				maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>A set of codes broadly classifying the type of
						assessment or the principal target of what is assessed. This is an
						HR-XML Open List. Note that detailed information regarding
						specific competencies targeted or measured by the assessment would
						be referenced within AssessedCompetency.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AssessedCompetency" type="SpecifiedCompetencyType"
				minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Provides information about what competencies are
						measured by the test instrument or evaluation process.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="JobCategoryCode" type="CodeType"
				minOccurs="0" maxOccurs="unbounded">
				<!-- JobCatgegoryType is in codelists -->
				<xsd:annotation>
					<xsd:documentation>A code used to classify the job category (or
						categories) to which the assessment applies.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CareerLevelCode" type="CareerLevelCodeType"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>A code classifying the level of a candiate based
						on career experience. Student, Entry Level, Recent Graduate,
						Mid-Career, Manager, Experienced Non-Manager, Senior Executive
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ApplicableRegion" type="JurisdictionType"
				minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>A set of information broadly describing the
						region(s) where the assessment is applicable or available. For
						example, a test may have only been validated within a particular
						geographical area and associated cultural context (e.g., North
						America). A test associated with a license or certification could
						be localized (e.g., US, California, Orange County).
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AvailableLanguageCode" type="LanguageCodeList" minOccurs="0"
				maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:simpleType name="AssessmentTypeCodeEnumType">
		<xsd:annotation>
			<xsd:documentation>A set of codes broadly classifying the type of
				assessment or the principal target of what is assessed.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="Knowledge" />
			<xsd:enumeration value="Skill" />
			<xsd:enumeration value="Ability" />
			<xsd:enumeration value="Psychometric" />
			<xsd:enumeration value="CertificationOrLicense" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="SpecifiedCompetencyType">
		<xsd:annotation>
			<xsd:documentation source="http://www.hr-xml.org"
				xml:lang="en">A "specified competency" is a reference to a particular
				competency at a specified level of proficiency.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="competencyID" type="IdentifierType"
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="competencyName" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="proficiencyLevel" type="BaseScoreType"
				minOccurs="0" />
			<xsd:element name="userArea" type="UserAreaType"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="BaseScoreType">
		<xsd:sequence>
			<xsd:element name="ScoreNumeric" type="ScoreNumericType"
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="ScoreText" type="xsd:string"
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="UserArea" type="UserAreaType"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="ScoreNumeric" type="ScoreNumericType" />
	<xsd:complexType name="ScoreNumericType">
		<xsd:annotation>
			<xsd:documentation>
				ScoreNumeric
				A numerical record of the marks
				allotted to individuals in the
				measurement of abilities, capacity to
				learn, in the assessment of
				personality, or in other measurable
				characteristics (e.g., credit
				worthiness). Includes a set of
				attributes to identify the scoring
				scheme and its characteristics.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="scoreNumericCode" type="xsd:decimal"
				minOccurs="0" />
			<xsd:element name="interval" type="xsd:decimal"
				minOccurs="0" />
			<!-- <xsd:element name="UserArea" type="UserAreaType" -->
			<!-- minOccurs="0" /> -->
		</xsd:sequence>
		<xsd:attribute name="minimumScoreNumeric" type="xsd:decimal"
			use="optional" />
		<xsd:attribute name="maximumScoreNumeric" type="xsd:decimal"
			use="optional" />
	</xsd:complexType>

	<xsd:complexType name="ScoreType">
		<xsd:complexContent>
			<xsd:extension base="BaseScoreType">
				<xsd:attributeGroup ref="EffectiveDateAttributeGroup" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="UserAreaType">
		<xsd:sequence>
			<xsd:any namespace="##any" processContents="lax" minOccurs="0"
				maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>



	<!-- @TODO move to common -->
	<xsd:complexType name="LoginInformationType">
		<xsd:annotation>
			<xsd:documentation source="http://www.hr-xml.org"
				xml:lang="en">
				Contains information to enable a user to gain access to
				a
				system. This is typically a user name and password, but may include
				other access credentials.
				Authentication information for the sender
				of an HR-XML BOD would generally would be handled a higher level --
				such as the security header of a SOAP envelope. The purpose of this
				type is where such login information needs to be communicated
				between
				trading partners. Examples include system provisioning
				scenarios as well
				as assessment scenarios where an order
				acknowledgement would return a credential for the assessment subject
				to use in gaining access to a test.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="userId" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>A user name or ID.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="accessCredential" type="AccessCredentialType"
				minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation source="http://www.hr-xml.org"
						xml:lang="en">
						Contains a password or other token associated with the
						authentication of
						a user. This component is repeatable to allow for
						multiple
						credentials or tokens.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<!-- @TODO move to common -->
	<xsd:complexType name="AccessCredentialType">
		<xsd:annotation>
			<xsd:documentation>
				This is typically used in pre-provisioning a partner system
				with user
				account information rather than in actual authentication
				processes
				(in which case the appropriate token would typically be
				passed in a
				SOAP security header). Where used, this components
				generally would
				be repeatable to allow for multiple credentials or
				tokens. This also
				would generally be used in a context in which a
				UserID was supplied.
				See UserID-element. See UserAccount-noun.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="accessCredentialTypeCode" type="CodeType"
				minOccurs="0" />
			<xsd:element name="accessCredentialValue" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="UserArea" type="UserAreaType"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<!-- @TODO move to common -->
	<xsd:element name="redirectURL" type="RedirectURLType">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/platform/1">The RedirectURL can be
				used to indicate a URL to which the Requesting application can be
				re-directed once the session initiated by this connection is
				completed. The session completion event is not recorded in this
				transaction.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<!-- @TODO move to common -->
	<xsd:complexType name="RedirectURLType">
		<xsd:sequence>
			<xsd:element name="URI" type="URIType" minOccurs="0" />
			<xsd:element name="timeOut" type="xsd:positiveInteger"
				minOccurs="0" />
			<xsd:element name="statusCode" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="message" type="xsd:string" minOccurs="0" />
		</xsd:sequence>
		<xsd:attributeGroup ref="EffectiveDateAttributeGroup" />
	</xsd:complexType>

	<xsd:complexType name="JurisdictionType">
		<xsd:sequence>
			<xsd:element name="CountryCode" type="CountryCodeEnumType"
				minOccurs="0" />
			<xsd:element name="CityName" minOccurs="0" />
			<xsd:element name="CountrySubDivisionCode" minOccurs="0"
				maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:simpleType name="URIType">
		<xsd:restriction base="xsd:anyURI" />
	</xsd:simpleType>


	<xsd:complexType name="TestInstanceType">
		<xsd:sequence>
			<xsd:element name="TestInstanceID" type="IdentifierType"
				minOccurs="0" />
			<xsd:element name="VersionID" type="IdentifierType"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The version of the test instrument associated
						with the results. The version with which the assessment subject
						was tested.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AssessmentLanguageCode" type="LanguageCodeList"
				minOccurs="0" />
			<xsd:element name="TestDate" type="FormattedDateTimeType"
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="TestScoreIssuedDate" type="FormattedDateTimeType"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The date a test score was issued. This might
						generally be applicable when the assessment service provider is
						administering or reporting the result of a third-party
						administered test.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TestLocationID" type="IdentifierType"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>An identifier for the location of a testing site
						or test center where a test was taken. A test center name.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:group name="DocumentIDGroup">
		<xsd:sequence>
			<xsd:element name="DocumentID" type="IdentifierType" />
			<xsd:element name="AlternateDocumentID" minOccurs="0"
				maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:group>

</xsd:schema>
