src/main/resources/ProcessAssessmentOrder.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:oa="http://www.openapplications.org/oagis/9" elementFormDefault="unqualified"
	attributeFormDefault="unqualified">
<!-- <xsd:import namespace="http://www.openapplications.org/oagis/9"  -->
<!-- schemaLocation="org_openapplications_platform/1_2/Common/OAGi/Components/Meta.xsd"/>  -->
       	<xsd:include schemaLocation="Components.xsd" />

	<xsd:element name="ProcessAssessmentOrder">
		<xsd:complexType>
			<xsd:sequence>
			    <xsd:element name="ApplicationArea" type="ApplicationAreaType" ></xsd:element>
				<xsd:element name="DataArea" type="DataAreaType" />
				
			</xsd:sequence>
			<xsd:attribute name="systemEnvironmentCode" type="xsd:string"
				default="Development" />
			<xsd:attribute name="releaseID" type="xsd:string"
				default="4.0" />
			<xsd:attribute name="languageCode" type="xsd:string"
				use="optional" default="en" />
		</xsd:complexType>
	</xsd:element>
	
<!-- 	<xsd:complexType name="ProcessAssessmentOrderType">  -->
<!--        		<xsd:complexContent>  -->
<!--        			<xsd:element name="BusinessObjectDocumentType">  -->
<!--        				<xsd:sequence>  -->
<!--        					<xsd:element name="DataArea" type="ProcessAssessmentOrderDataAreaType">  -->
<!--        						<xsd:annotation>  -->
<!--        							<xsd:documentation>The DataArea is the part of the BOD that contains business information. This information consists of a verb and one or more noun instances. In the case of the ProcessAssessmentOrder, the verb Process indicates the action to be performed on the noun AssessmentOrder.</xsd:documentation>  -->
<!--        						</xsd:annotation>  -->
<!--        					</xsd:element>  -->
<!--        				</xsd:sequence>  -->
<!--        			</xsd:element>  -->
<!--        		</xsd:complexContent>  -->
<!--        	</xsd:complexType>  -->
	    <xsd:complexType name="ProcessAssessmentOrderDataAreaType"> 
       		<xsd:sequence> 
       			<xsd:element name="Process"/> 
<!--        			<xsd:element name="AssessmentOrder" type="ProcessAssessmentOrderType" maxOccurs="unbounded"/>  -->
       		</xsd:sequence> 
   </xsd:complexType> 
	<xsd:element name="AssessmentAdministration" type="AssessmentAdministrationType" />
	<xsd:complexType name="AssessmentAdministrationType">
		<xsd:sequence>
			<!-- <xsd:element ref="oa:Description" minOccurs="0" maxOccurs="unbounded"/> -->
			<!-- <xsd:element ref="ProctoredAssessmentIndicator" minOccurs="0"/> -->
			<!-- <xsd:element ref="TimeEnforcedIndicator" minOccurs="0"/> -->
			<!-- <xsd:element ref="TestDuration" minOccurs="0"/> -->
			<!-- <xsd:element ref="AssessmentDeliveryCode" minOccurs="0" maxOccurs="unbounded"/> -->
			<!-- <xsd:element ref="UserArea" minOccurs="0"/> -->
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AssessmentOrderType">
		<xsd:sequence>
			<xsd:element name="documentID" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="DocumentSequence" type="xsd:positiveInteger" minOccurs="0"/>
			<xsd:element name="CustomerParty" type="PartyType" minOccurs="0"/>
			<xsd:element name="SupplierParty" type="PartyType" minOccurs="0"/>
			<xsd:element name="RequesterParty" type="PartyType" minOccurs="0"/>
<!-- 			<xsd:element ref="InvitationByPartyCode" minOccurs="0"/> -->
			<xsd:element name="PackageID" type="IdentifierType"/>
			<xsd:element name="ComparisonGroupID" type="IdentifierType" minOccurs="0" maxOccurs="unbounded"/>
			
			<xsd:element name="AssessmentRequesterName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AssessmentSubject" type="AssessmentSubjectType" minOccurs="0"/>
<!-- 			<xsd:element ref="AssessmentLanguageCode" minOccurs="0" maxOccurs="unbounded"/> -->
<!-- 			<xsd:element ref="AssessmentResultLanguageCode" minOccurs="0" maxOccurs="unbounded"/> -->
<!-- 			<xsd:element ref="AssessmentAccess" minOccurs="0" maxOccurs="unbounded"/> -->
<!-- 			<xsd:element ref="TestLocationID" minOccurs="0"/> -->
			<xsd:element name="RedirectURL" type="URIType" minOccurs="0"/>
			<xsd:element name="UserArea" type="UserAreaType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="majorVersionID" type="xsd:string"
			use="optional" />
		<xsd:attribute name="minorVersionID" type="xsd:string"
			use="optional" />
	</xsd:complexType>
        <xsd:simpleType name="URIType">
                <xsd:restriction base="xsd:anyURI"/>
        </xsd:simpleType>
	<!-- xmlns:oa="http://www.openapplications.org/oagis/9" -->
	<xsd:complexType name="PartyType">
		<xsd:complexContent>
			<xsd:extension base="BasePartyType">
				<xsd:sequence>
					<xsd:element name="UserArea" type="UserAreaType" minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DataAreaType">
		<xsd:sequence>
			<xsd:element name="AssessmentOrder" type="AssessmentOrderType" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="BasePartyType">
		<xsd:sequence>
			<xsd:element name="PartyID" type="IdentifierType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="PartyLegalID" type="IdentifierType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="PartyTaxID" type="IdentifierType" minOccurs="0"/>
			<xsd:element name="PartyName" type="xsd:string"/>
			<xsd:element name="PartyReportingIDs" type="IdentifierType" minOccurs="0" maxOccurs="unbounded"/>
<!-- 			<xsd:element ref="Communication" minOccurs="0" maxOccurs="unbounded"/> -->
			<!-- <xsd:element ref="PersonContact" minOccurs="0" maxOccurs="unbounded"/> -->
		</xsd:sequence>
		<!-- <xsd:attribute name="agencyRoleCode" type="AgencyRoleCodeContentType" 
			use="optional"/> -->
	</xsd:complexType>


	<xsd:group name="DocumentIDGroup">
		<xsd:sequence>
			<xsd:element name="DocumentID" type="IdentifierType" />
			<xsd:element name="AlternateDocumentID" minOccurs="0"
				maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:group>
<!-- 	<xsd:complexType name="IdentifierType"> -->
<!-- 		<xsd:complexContent> -->
<!-- 			<xsd:extension base="IdentifierType"> -->
<!-- 				<xsd:attributeGroup ref="EffectiveDateAttributeGroup" /> -->
<!-- 			</xsd:extension> -->
<!-- 		</xsd:complexContent> -->
<!-- 	</xsd:complexType> -->
	
	
	<xsd:element name="AssessmentSubject" type="AssessmentSubjectType"/>
	<xsd:complexType name="AssessmentSubjectType">
		<xsd:sequence>
			<xsd:element name="SubjectID" type="IdentifierType" minOccurs="0"/>
			<xsd:element name="PersonLegalID" type="IdentifierType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="PersonName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Communication" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
<!-- 			<xsd:element ref="RaceCode" minOccurs="0" maxOccurs="unbounded"/> -->
<!-- 			<xsd:element ref="EthnicityCode" minOccurs="0" maxOccurs="unbounded"/> -->
<!-- 			<xsd:element ref="NationalityCode" minOccurs="0" maxOccurs="unbounded"/> -->
<!-- 			<xsd:element ref="PrimaryLanguageCode" minOccurs="0"/> -->
<!-- 			<xsd:element ref="BirthDate" minOccurs="0"/> -->
<!-- 			<xsd:element ref="oa:AgeMeasure" minOccurs="0"/> -->
<!-- 			<xsd:element ref="GenderCode" minOccurs="0"/> -->
<!-- 			<xsd:element ref="DisabilityIndicator" minOccurs="0"/> -->
<!-- 			<xsd:element ref="DisabilityTypeCode" minOccurs="0" maxOccurs="unbounded"/> -->
<!-- 			<xsd:element ref="AccomodationTypeCode" minOccurs="0" maxOccurs="unbounded"/> -->
<!-- 			<xsd:element ref="MilitaryStatusCode" minOccurs="0" maxOccurs="unbounded"/> -->
<!-- 			<xsd:element ref="InternalCandidateIndicator" minOccurs="0"/> -->
			<xsd:element name="UserArea" type="UserAreaType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	
		<xsd:complexType name="CommunicationABIEType">
		<xsd:sequence>
<!-- 			<xsd:element ref="ChannelCode" minOccurs="0"/> -->
<!-- 			<xsd:element ref="UseCode" minOccurs="0"/> -->
<!-- 			<xsd:choice> -->
<!-- 				<xsd:sequence> -->
<!-- 					<xsd:element ref="oa:CountryDialing" minOccurs="0"/> -->
<!-- 					<xsd:element ref="oa:AreaDialing" minOccurs="0"/> -->
<!-- 					<xsd:element ref="oa:DialNumber" minOccurs="0"/> -->
<!-- 					<xsd:element ref="oa:Extension" minOccurs="0"/> -->
<!-- 					<xsd:element ref="oa:Access" minOccurs="0"/> -->
<!-- 				</xsd:sequence> -->
<!-- 				<xsd:element ref="Address" minOccurs="0"/> -->
<!-- 				<xsd:sequence> -->
<!-- 					<xsd:element ref="oa:URI" minOccurs="0"/> -->
<!-- 					<xsd:element ref="oa:HTMLPreferredIndicator" minOccurs="0"/> -->
<!-- 				</xsd:sequence> -->
<!-- 				<xsd:element ref="oa:Text" minOccurs="0" maxOccurs="unbounded"/> -->
<!-- 			</xsd:choice> -->
			<xsd:element name="UserArea" type="UserAreaType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="sequence" type="xsd:positiveInteger"/>
<!-- 		<xsd:attribute name="preferredIndicator" type="oa:IndicatorType"/> -->
<!-- 		<xsd:attributeGroup ref="EffectiveDateAttributeGroup"/> -->
	</xsd:complexType>
	
        <xsd:element name="BOD" type="BODType">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/platform/1">The outcome of processing a specific BOD. Describes overall/summary outcome, plus the outcome of processing each noun of the BOD. Includes noun-specific error and/or warning messaages encountered during processing. May include summary and/or roll-up messages at the BOD level.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>

        <xsd:complexType name="ApplicationAreaType">
		<xsd:sequence>
			<xsd:element name="Sender" minOccurs="0"/>
			<xsd:element name="Receiver" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="CreationDateTime" type="xsd:date"/>
			<xsd:element name="Signature" minOccurs="0"/>
			<xsd:element name="BODID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="UserArea" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SenderType">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/platform/1">Identifies the sender of the given BOD instance</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="LogicalID" minOccurs="0"/>
			<xsd:element name="ComponentID" minOccurs="0"/>
			<xsd:element name="TaskID" minOccurs="0"/>
			<xsd:element name="ReferenceID" minOccurs="0"/>
			<xsd:element name="ConfirmationCode" minOccurs="0"/>
			<xsd:element name="AuthorizationID" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReceiverType">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/platform/1">Identifies the intended receiver of the given BOD instance.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="LogicalID" minOccurs="0"/>
			<xsd:element name="ComponentID" minOccurs="0"/>
			<xsd:element name="ID" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SignatureType">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/platform/1">Allows any digital Signatures to be added to the Instance of the BOD Instance in order to sign for any portion of the BOD content.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:any namespace="##any" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="qualifyingAgencyId" type="xsd:string" use="optional"/>
	</xsd:complexType>
	
	<xsd:group name="FreeFormTextGroup">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/platform/1">Common Free Form Text elements that occur together.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Description" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Note" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:group>
	
	<xsd:element name="ApplicationArea" type="ApplicationAreaType">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/platform/1">Provides the information that an application may need to know in order to communicate in an integration of two or more business applications. The ApplicationArea is used at the applications layer of communication. While the integration frameworks web services and middleware provide the communication layer that OAGIS operates on top of.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OriginalApplicationArea" type="ApplicationAreaType">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/platform/1">A copy of the ApplicationArea for the original BOD that was processed. Present either as additional reference information, or for use in identifying the BOD in situations where a BODReference is not known.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Sender" type="SenderType">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/platform/1">Identifies characteristics and control identifiers that relate to the application that created the Business Object Document.  The sender area can indicate the logical location of the application and/or database server, the application, and the task that was processing to create the BOD.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Receiver" type="ReceiverType">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/platform/1">Identifies the intended receiver of the given BOD instance.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Signature" type="SignatureType">
		<xsd:annotation>
			<xsd:documentation source="http://www.openapplications.org/platform/1">If the BOD is to be signed the signature element is included, otherwise it is not.
Signature supports any digital signature that maybe used by an implementation of OAGIS. The qualifyingAgency identifies the agency that provided the format for the signature.

This element supports any digital signature specification that is available today and in the future. This is accomplished by not actually defining the content but by allowing the implementation to specify the digital signature to be used via an external XML Schema namespace declaration. The Signature element is defined to have any content from any other namespace. 

This allows the user to carry a digital signature in the xml instance of a BOD. The choice of which digital signature to use is left up to the user and their integration needs.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
        <xsd:complexType name="BODType">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/platform/1">The outcome of processing a specific BOD. Describes overall/summary outcome, plus the outcome of processing each noun of the BOD. Includes noun-specific error and/or warning messaages encountered during processing. May include summary and/or roll-up messages at the BOD level.</xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                        <xsd:annotation>
                                <xsd:documentation source="http://www.openapplications.org/platform/1">OriginalApplicationArea is deprecated from the BOD of the ConfirmBOD, the OriginalApplicationArea should be used off of the Confirm Verb.</xsd:documentation>
                        </xsd:annotation>
                        <xsd:element name="OriginalApplicationArea" type="ApplicationAreaType" minOccurs="0">
                                <xsd:annotation>
                                        <xsd:documentation source="http://www.openapplications.org/platform/1">A copy of the ApplicationArea for the original BOD that was processed. Present either as additional reference information, or for use in identifying the BOD in situations where a BODReference is not known.</xsd:documentation>
                                        <xsd:documentation source="http://www.openapplications.org/platform/1">A copy of the ApplicationArea for the original BOD that was processed. Present either as additional reference information, or for use in identifying the BOD in situations where a BODReference is not known.</xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>
                        <xsd:group ref="FreeFormTextGroup" minOccurs="0"/>
                        <xsd:element name="BODFailureMessage" minOccurs="0"/>
                        <xsd:element name="BODSuccessMessage" minOccurs="0"/>
                        <xsd:element name="PartialBODFailureMessage" minOccurs="0"/>
                        <xsd:element name="UserArea" minOccurs="0"/>
                </xsd:sequence>
        </xsd:complexType>	
        
        
        
        <xsd:element name="AssessmentOrderJSON" type="AssessmentOrderJSONType"/>
        
		<xsd:complexType name="AssessmentOrderJSONType">
		<xsd:sequence>
			<xsd:element name="ClientID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ClientPwd" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CustomerName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AssessmentID" type="xsd:string"/>			
			<xsd:element name="JobTitleID" type="xsd:string"/>
		    <xsd:element name="FirstName" type="xsd:string"/>	
		    <xsd:element name="LastName" type="xsd:string"/>	
		    <xsd:element name="Email" type="xsd:string"/>	
			<xsd:element name="ExternalApplicationID" type="xsd:string" minOccurs="0" />
			<xsd:element name="ExternalPersonID" type="xsd:string" minOccurs="0" />
			<xsd:element name="ExternalJobReqID" type="xsd:string" minOccurs="0" />			
			<xsd:element name="OrderID" type="xsd:string" minOccurs="0" />	
			<xsd:element name="ReturnURL" type="URIType" minOccurs="0"/>
						
			<xsd:element name="DocumentSequence" type="xsd:positiveInteger" minOccurs="0"/>
			<xsd:element name="PackageID" type="IdentifierType"/>


			<xsd:element name="RedirectURL" type="URIType" minOccurs="0"/>
<!-- 			<xsd:element name="UserArea" type="UserAreaType" minOccurs="0"/> -->
		</xsd:sequence>
		
		<xsd:attribute name="majorVersionID" type="xsd:string" use="optional" />
		<xsd:attribute name="minorVersionID" type="xsd:string" use="optional" />
	    <xsd:attribute name="systemEnvironmentCode" type="xsd:string" default="Development" />
		<xsd:attribute name="releaseID" type="xsd:string" default="4.0" />
		<xsd:attribute name="languageCode" type="xsd:string" use="optional" default="en" />

	</xsd:complexType>
	
<!-- 		<xsd:element name="AssessmentCatalog" type="AssessmentCatalogType" /> -->
<!-- 	<xsd:complexType name="AssessmentCatalogType"> -->
<!-- 		<xsd:sequence> -->
<!-- 			<xsd:element name="DocumentID" type="xsd:string"/> -->
<!-- 			<xsd:element name="AlternateDocumentID" type="xsd:string" maxOccurs="unbounded"/> -->
<!-- 			<xsd:element name="DocumentSequence" type="xsd:integer"/> -->
<!-- 			<xsd:element name="CustomerParty" type="PartyType"/> -->
<!-- 			<xsd:element name="SupplierParty" type="PartyType"/> -->
<!-- 			<xsd:element name="RequesterParty" type="PartyType"/> -->
<!-- 		</xsd:sequence> -->
<!-- 	</xsd:complexType> -->
</xsd:schema>