src/main/resources/Common/xml/complex.xsd

<?xml version="1.0" encoding="utf-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation>
			Name: complex.xsd
			Status: 4.0 Release
			Date this
			version:
			2015-Sep-09
		</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="base.xsd" />
	<xsd:include schemaLocation="codelist/language.xsd" />
	<xsd:include schemaLocation="codelist/unit.xsd" />
	<xsd:include schemaLocation="codelist/payRateIntervalCodeList.xsd" />

	<xsd:element name="ComplexObject" type="ComplexType" />
	<xsd:element name="Complex" type="ComplexType" />
	<xsd:complexType name="ComplexType">
		<xsd:sequence>
			<xsd:element name="Address" type="AddressType" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="BaseNoun" type="BaseNounType" />
			<xsd:element name="BaseParty" type="BasePartyType" />
			<xsd:element name="ExampleComment" type="Comment" />
			<xsd:element name="ExampleCommentType" type="CommentType" />
			<xsd:element name="CommunicationItem" type="CommunicationItemType" />
			<xsd:element name="Party" type="BasePartyType" />
			<xsd:element name="Communication" type="CommunicationType" />
			<xsd:element name="PayRate" type="PayRateType" />
			<xsd:element name="CostAllocation" type="CostAllocationType" />
			<xsd:element name="Email" type="EmailType" />
			<xsd:element name="Phone" type="PhoneType" />
			<xsd:element name="Web" type="WebType" />
			<xsd:element name="Resource" type="ResourceClassification" />
			<xsd:element name="PersonName" type="PersonNameType" />
			<xsd:element name="PersonContact" type="PersonContactType" />
			<xsd:element name="SpecifiedPerson" type="SpecifiedPersonType" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="BaseNounType">
		<xsd:sequence>
			<xsd:element name="documentId" type="IdentifierType"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="alternateIds" type="IdentifierType"
				minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="CommunicationItem" type="CommunicationItemType" />
	<xsd:complexType name="CommunicationItemType">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" minOccurs="0" />
			<xsd:element name="useCode" type="CodeType" minOccurs="0" />
			<xsd:element name="preference" type="xsd:integer"
				minOccurs="0" />
			<xsd:element name="availablePeriod" type="DateTimePeriodType"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="EmailType">
		<xsd:sequence>
			<xsd:element name="address" type="xsd:string" minOccurs="1"
				maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="WebType">
		<xsd:sequence>
			<xsd:element name="url" type="xsd:anyURI" minOccurs="1"
				maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="PhoneType">
		<xsd:sequence>
			<xsd:element name="channelCode" type="CodeType"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="countryDialingCode" type="CodeType"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="areaDialingCode" type="CodeType"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="dialNumber" type="xsd:string"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="phoneExtension" type="xsd:string"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="access" type="xsd:string" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="formattedNumber" type="xsd:string"
				minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="AddressType">
		<xsd:sequence>
			<xsd:element name="ID" type="xsd:string" minOccurs="0"
				maxOccurs="unbounded" />
			<xsd:sequence>
				<xsd:element name="line" type="xsd:string" minOccurs="0"
					maxOccurs="unbounded" />
				<xsd:element name="extendedLine" type="xsd:string"
					minOccurs="0" maxOccurs="unbounded" />
			</xsd:sequence>
			<xsd:element name="city" type="xsd:string" minOccurs="0" />
			<xsd:element name="countryCode" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="countrySubDivisionName" type="xsd:string"
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="postalCode" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="postOfficeBox" type="xsd:string"
				minOccurs="0" />
		</xsd:sequence>
		<xsd:attribute name="type" type="xsd:normalizedString" />
	</xsd:complexType>

	<xsd:complexType name="CommunicationType">
		<xsd:sequence>
			<xsd:choice>
				<xsd:sequence>
					<xsd:element name="address" type="AddressType"
						minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
				<xsd:sequence>
					<xsd:element name="phone" type="PhoneType" minOccurs="0"
						maxOccurs="unbounded" />
				</xsd:sequence>
				<xsd:sequence>
					<xsd:element name="email" type="EmailType" minOccurs="0"
						maxOccurs="unbounded" />
				</xsd:sequence>
				<xsd:sequence>
					<xsd:element name="web" type="WebType" minOccurs="0"
						maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:choice>
		</xsd:sequence>
		<xsd:attribute name="type" type="xsd:normalizedString" />
	</xsd:complexType>

	<xsd:element name="PersonName" type="PersonNameType">
		<xsd:annotation>
			<xsd:documentation>
				Person Name. Details. A component for capturing
				summary or fine-grain data
				comprising a person's name.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<xsd:complexType name="PersonNameType">
		<xsd:sequence>
			<xsd:element name="formatted" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="legal" type="xsd:string" minOccurs="0" />
			<xsd:element name="given" type="xsd:string" minOccurs="0" />
			<xsd:element name="preferred" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="middle" type="xsd:string" minOccurs="0" />
			<xsd:element name="family" type="xsd:string" minOccurs="0" />
			<xsd:element name="formerFamily" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="preferredSalutationCode" type="CodeType"
				minOccurs="0" />
			<xsd:element name="generationAffixCode" type="CodeType"
				minOccurs="0" />
			<xsd:element name="qualificationAffixCode" type="CodeType"
				minOccurs="0" />
			<xsd:element name="titleAffixCode" type="CodeType"
				minOccurs="0" />
			<xsd:element name="initials" type="xsd:string" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="SpecifiedPerson" type="SpecifiedPersonType" />
	<xsd:complexType name="SpecifiedPersonType">
		<xsd:annotation>
			<xsd:documentation source="http://www.hr-xml.org"
				xml:lang="en">Contains information to identify a person associated with
				the interaction or entity.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="id" type="IdentifierType" minOccurs="0"
				maxOccurs="unbounded" />
			<xsd:element name="name" type="PersonNameType" minOccurs="0" />
			<xsd:element name="roleCode" type="CodeType" minOccurs="0"
				maxOccurs="unbounded" />
			<xsd:element name="communication" type="CommunicationType"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<!-- <xsd:element name="PersonContact" type="PersonContactType"/> -->
	<!-- <xsd:complexType name="PersonContactType"> -->
	<!-- <xsd:sequence> -->
	<!-- <xsd:element name="id" type="IdentifierType" minOccurs="0"/> -->
	<!-- <xsd:element name="name" minOccurs="0"/> -->
	<!-- <xsd:element ref="RoleName" minOccurs="0" maxOccurs="unbounded"/> -->
	<!-- <xsd:element ref="Communication" minOccurs="0" maxOccurs="unbounded"/> -->
	<!-- <xsd:element ref="UserArea" minOccurs="0"/> -->
	<!-- </xsd:sequence> -->
	<!-- <xsd:attribute name="contactTypeCode" type="oa:StringType"/> -->
	<!-- </xsd:complexType> -->

	<!-- @TODO PersonContactType is missing RoleName, Communications -->
	<xsd:complexType name="PersonContactType">
		<xsd:annotation>
			<xsd:documentation>Contains information about contact person.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="SpecifiedPersonType">
				<xsd:sequence>
					<xsd:element name="type" type="xsd:string" minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="CommentType">
		<xsd:annotation>
			<xsd:documentation>A comment to provide additional unstructured
				information concerning the related entity.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="type" type="xsd:string" minOccurs="0" />
			<xsd:element name="author" type="xsd:string" minOccurs="0" />
			<xsd:element name="datetime" type="DateTimeType"
				minOccurs="0" />
			<xsd:element name="status" type="xsd:string" minOccurs="0" />
			<xsd:element name="note" type="xsd:string" minOccurs="0" />
		</xsd:sequence>
		<xsd:attribute name="language" type="LanguageCodeList"
			use="optional" />
	</xsd:complexType>

	<xsd:complexType name="Comment">
		<xsd:annotation>
			<xsd:documentation>A comment to provide additional unstructured
				information concerning the related entity.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice>
				<xsd:sequence>
					<xsd:element name="value" type="xsd:string" minOccurs="0" />
				</xsd:sequence>
				<xsd:sequence>
					<xsd:element name="comment" type="CommentType"
						minOccurs="0" />
				</xsd:sequence>
				<xsd:sequence>
					<xsd:element name="comments" type="CommentType"
						minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="PayRateType">
		<xsd:annotation>
			<xsd:documentation>Associates billing and/or pay rate information
				with time worked information reported on an entity.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="value" type="EntityType" minOccurs="0" />
			<xsd:element name="amount" type="AmountType" minOccurs="1" />
			<xsd:element name="intervalCode" type="xsd:string"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<!-- This breaks jaxb -->
	<!-- <xsd:complexType name="PayRateType"> -->
	<!-- <xsd:annotation> -->
	<!-- <xsd:documentation>Associates billing and/or pay rate information with 
		time worked information reported on an entity. -->
	<!-- </xsd:documentation> -->
	<!-- </xsd:annotation> -->
	<!-- <xsd:complexContent> -->
	<!-- <xsd:extension base="EntityType"> -->
	<!-- <xsd:sequence> -->
	<!-- <xsd:element name="amount" type="AmountType" minOccurs="1" /> -->
	<!-- <xsd:element name="intervalCode" type="xsd:string" minOccurs="0" /> -->
	<!-- </xsd:sequence> -->
	<!-- </xsd:extension> -->
	<!-- </xsd:complexContent> -->
	<!-- </xsd:complexType> -->

	<!-- TODO ResponsibleType -->
	<!-- TODO Responsible -->

	<xsd:element name="Party" type="PartyType" />

	<xsd:complexType name="PartyType">
		<xsd:complexContent>
			<xsd:extension base="BasePartyType">
				<xsd:sequence>
					<xsd:element name="value" type="EntityType" minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BasePartyType">
		<xsd:sequence>
			<xsd:element name="id" type="IdentifierType" minOccurs="0"
				maxOccurs="unbounded" />
			<xsd:element name="legalId" type="IdentifierType"
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="taxId" type="IdentifierType"
				minOccurs="0" />
			<xsd:element name="name" type="xsd:string" />
			<!-- <xsd:element name="PartyReportingIDs" type="IdentifierType" -->
			<!-- minOccurs="0" maxOccurs="unbounded" /> -->
			<xsd:element name="communications" type="CommunicationType"
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="personContacts" type="PersonContactType"
				minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
		<!-- <xsd:attribute name="agencyRoleCode" type="AgencyRoleCodeContentType" 
			use="optional"/> -->
	</xsd:complexType>

	<xsd:complexType name="StaffingReferenceIdsType">
		<xsd:annotation>
			<xsd:documentation>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="assignmentId" type="IdentifierType"
				minOccurs="0" />
			<xsd:element name="orderId" type="IdentifierType"
				minOccurs="0" />
			<xsd:element name="rfqId" type="IdentifierType"
				minOccurs="0" />
			<xsd:element name="resourceId" type="IdentifierType"
				minOccurs="0" />
			<xsd:element name="actionId" type="IdentifierType"
				minOccurs="0" />
			<xsd:element name="masterOrderId" type="IdentifierType"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="CostAllocationType">
		<xsd:annotation>
			<xsd:documentation>Contains an identifier of an account, department,
				or other entity to which an item should be allocated.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="percentage" type="PercentType"
				minOccurs="0" />
			<xsd:element name="department" type="EntityType"
				minOccurs="0" />
			<xsd:element name="location" type="EntityType" minOccurs="0" />
			<xsd:element name="costCenter" type="EntityType"
				minOccurs="0" />
			<xsd:element name="job" type="EntityType" minOccurs="0" />
			<xsd:element name="account" type="EntityType" minOccurs="0" />
			<xsd:element name="project" type="EntityType" minOccurs="0" />
			<xsd:element name="shift" type="EntityType" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>


	<!-- TODO WorkAllocationType -->

	<xsd:complexType name="ResourceClassification">
		<xsd:annotation>
			<xsd:documentation>Holds customer specific properties of an entity
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="managerName" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="supervisorName" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="contactName" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="department" type="EntityType"
				minOccurs="0" />
			<xsd:element name="location" type="EntityType" minOccurs="0" />
			<xsd:element name="costCenter" type="EntityType"
				minOccurs="0" />
			<xsd:element name="job" type="EntityType" minOccurs="0" />
			<xsd:element name="account" type="EntityType" minOccurs="0" />
			<xsd:element name="project" type="EntityType" minOccurs="0" />
			<xsd:element name="shift" type="EntityType" minOccurs="0" />
			<xsd:element name="externalOrderNumber" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="externalReqNumber" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="referenceNumber" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="purchaseOrderNumber" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="purchaseOrderLineItem" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="costAllocations" type="CostAllocationType"
				minOccurs="0" maxOccurs="unbounded" />
			<!-- <xsd:element name="workAllocationTypes" type="WorkAllocationType" 
				minOccurs="0" maxOccurs="unbounded"/> -->
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>